<div class="wrapper">
<h3>Your Order History</h3>
<% if @orders.count > 0 %>
<div class="container" style="align-items: flex-start">
<table class="table table-hover">
  <thead>
        <tr>
            <th scope="col">Order Id</th>           
            <th scope="col">Product Name</th>          
            <th scope="col">Quantity</th>    
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr cope="row">
                <td><%= order.id %></td>   
                <td><%= order.product.name %></td>
                <td><%= order.quantity %></td>
                <td><%= link_to "View", "/products/#{order.product_id}" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
<% end %>
</div>