<h1>Your Order History</h1>
<% @orders.each do |order| %>
   <div>Order Id: <%= order.id %></div>
   <div>Quantity: <%= order.quantity %></div>
   <div><a href='<%= "/products/#{order.product_id}"%>'>View Product Details</a></div><br>
<% end %>
<br>
<%= link_to "Go Home", root_path %>