<div class="wrapper">
<h3>Your Order History</h3>
<% if @orders.count > 0 %>
<div class="product-table">
    <table>
        <tr>
            <th>Order Id</th>           
            <th>Quantity</th>     
            <th></th>
        </tr>
        <% @orders.each do |order| %>
            <tr>
                <td><%= order.id %></td>   
                <td><%= order.quantity %></td>
                <td><%= link_to "View", "/products/#{order.product_id}" %></td>
            </tr>
        <% end %>
    </table>
</div>
<% end %>
</div>