// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h3 {
    text-align: center;
}

.wrapper {
    height: calc(100% - 60px);
    margin-top: 20px;
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}