// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h3 {
    text-align: center;
}

.product-table {
    display: flex;
    justify-content: center;
}

table, tr {
    border: 1px solid;
    text-align: center;
}

.container {
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    height: 30px;
    width: 256px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: calc(100% - 60px);
    margin-top: 20px;
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.product {
    width: 340px;
    margin: 0 auto;
}

.detail {
    font-weight: 500;
    margin: 7px 0;
}

div > span {
    border: 1px solid #000;
    padding: 2px 5px;
}

.link {
    text-decoration: none;
    padding: 0;
    background: none;
    border: none;
    color: blue;
}

.labelName{
    font-weight: 500;
}

.fieldName {
    width: 50px;
    height: 24px;
    border: 1px solid #000;
    text-align: center;
}
