<div class="wrapper">
<h3 style="text-align: center">Sell Your Product</h3>
<%= render "form", product: @product, submit_text: "Update Product" %><br>
<div style="width: 275px; margin: 0 auto">
<%= link_to "Go Back", "/products/sell" %>
</div>