<h1>Your Products</h1>
<% @products.each do |product| %>
    <a href='<%= "/products/#{product.id}"%>'> <%= product.name %></a><br>
<% end %>
<br>
<% if params[:type] == "sell" %>
<%= link_to "Sell New Product", "/products/new" %>
<br>
<% end %>
<%= link_to "Go Home", root_path %>