<div class="wrapper">
<h3>Products List</h3>
<% if @products.count > 0 %>
<div class="product-table">
<table>
  <tr>
    <th>Product Name </th>           
    <th>Product Category </th>       
    <th></th>
  </tr>
 <% @products.each do |product| %>
  <tr>
    <td><%= product.name%></td>   
    <td><%=product.category %></td>
    <td><%= link_to "View", "/products/#{product.id}/buy" %></td>
  </tr>
  <% end %>
</table>
</div>
<% end %>