<%= render "product_details", product: @product %>
<% if @product.status? %>
    <div>Status: Not Sold Yet</div>
    <%= button_to "Delete", "/products/#{@product.id}",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    <%= link_to "Edit", edit_product_path(@product) %>
<% else %>
    <div>Status: Sold</div>
<% end %>
<br>
<br>
<%= link_to "Go Back", "/products?type=sell" %>
