<div class="wrapper">
<h3>Your Selling History</h3>
<% if @products.count > 0 %>
<div class="container" style="align-items: flex-start">
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Product Id</th>           
            <th scope="col">Product Name</th>
            <th scope="col">Status</th>       
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
            <tr scope="row">
                <td><%= product.id %></td>   
                <td><%=product.name %></td>
                <% if product.status? %>
                    <td>Not Sold Yet</td>
                <% else %>
                    <td>Sold</td>
                <% end %>
                <td><%= link_to "View", "/products/#{product.id}/sell" %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<% end %>
</div>