<div class="wrapper">
<h3>Your Selling History</h3>
<div class="list-wrapper">
<% @products.each do |product| %>
    <div>
        <div>Product Id: <%= product.id %></div>
        <div>Product Name: <%= product.name %></div>
        <% if product.status? %>
            <div>Status: Not Sold Yet</div>
        <% else %>
            <div>Status: Sold</div>
        <% end %>
    <%= link_to "View Product Details", "/products/#{product.id}/sell" %><br><br>
    </div>
<% end %>
</div>
</div>